//#ff7400 NARANJA
//#073763 AZUL OSCURO
//#399271 VERDE
//@import './componentes/modalInstructions';

//@font-face {
  //  font-family: "goldman-regular";
  //  src: url("../fonts/Goldman-Regular.ttf");
//}


@import './componentes/botones';

body{
    
    background-color: rgb(131, 114, 89);
    background-image: url(/images/fondo.png);
    background-size:100% 100%;    
    color: rgb(255, 255, 255);
    height: 100vh;
        
}

header{
    display:flex;
    justify-content: flex-end;
    padding: 15px;
}

button{
    padding: 10px;
    margin:10px;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


//ELEMENTOS Y DISPOSICIÓN
.e{
    height: 150px;
    width: auto;
}

.rowElements1{
justify-content: space-between;
}

.rowElements2{
    justify-content: space-between;
    margin-top:-80px;
}

.cartaCentral{
    margin-top:-80px;
}

 //TEMPORIZADOR 

  .timer{
      font-size:40px;
      border: 5px solid orange;
      border-radius:5px;
      padding: 5px 20px;
      
      background-color: #399271;
      color:white;

  }