//#ff7400 NARANJA
//#073763 AZUL OSCURO
//#399271 VERDE
//@import './componentes/modalInstructions';

//@font-face {
  //  font-family: "goldman-regular";
  //  src: url("../fonts/Goldman-Regular.ttf");
//}




.play_screen{
    background-image: url("../images/fondo.png");
    background-color: rgb(131, 114, 89);
    font-family: 'Fredericka the Great', cursive;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    background-size:100% 100%;    
    color: rgb(255, 255, 255);
        
}

header{
    display:flex;
    justify-content: flex-end;
    padding: 1px;
    width: 100%;
}

button{
    padding: 10px;
    margin:10px;
}


main{
    display: flex;
    align-items: center;
    justify-content: center;

    
    
}
#ajustePantalla{
  margin-top: -45px;
}
.eBox{
  margin:0px 50px;

}


//ELEMENTOS Y DISPOSICIÓN
.e{
  height: 100px;
  width: auto;
}

.rowElements1{
justify-content: space-between;
}

.rowElements2{
  justify-content: space-between;
  margin-top:-80px;
}


.ajusteCarta{
  margin:-80px 0px;
}


 //TEMPORIZADOR 

 .timer{
  font-size:30px;
  border: 3px solid orange;
  border-radius:30px;     
  background-color: #399271;
  color:white;
  padding: 10px;
  margin-top: 5px;

}

  .lab{
    font-family: 'Fredericka the Great', cursive;
    font-size: 2em;
    color: white;
  
    //padding: -50px;
    //position:absolute;
    //top:0;
    //left:0;
    
  }

.juPoints{
    position: relative;
    
  }

.logo{
    -webkit-animation: tiembla 0.1s infinite;
  }
@-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( -1deg); }
    100%{ -webkit-transform:rotateZ( 5deg); }
  }
